# Java / Maven
target/
*.class
*.jar
*.war
*.iml
*.ipr
*.iws
.idea/
.mvn/

# Spring
application-*.yml
application-*.properties

# Node / Angular
node_modules/
dist/
.angular/
npm-debug.log
yarn-error.log

# Docker
*.pid
.env

# OS
.DS_Store
Thumbs.db
